// color schemes

$primary-color: #a420f7;
$secondary-color: #f72dbb;
$complementary-color: #f7da39;
$highlight-color: #29f707;
$active-color: #2414f7;

$primary-background-color: #ffeef8;
$secondary-background-color: #e7cce8;
