body {
    text-align: center;
    padding: 15% 7%;
    color: #ABA6A8;
    background-color: #F7F0F3;
}

/* Heading */
.headline-title {
    font-size: 3.5rem;
    color: #A26AF6;
}

.headline-title:hover {
    color: #E470EB;
}

/* image */

.code-image {
    text-align: center;
    width: 12%;
    border-radius: 100%;
}

/* webdev */

.webdev {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.webdev-link {
    text-decoration: none;
    color: #E470EB;
}

.webdev-link:hover {
    color: blueviolet;
}
