body {
    text-align: center;
    padding: 15% 7%;
}

/* Heading */
.headline-title {
    font-size: 3.5rem;
    color: #A26AF6;
}

.headline-title:hover {
    color: #E470EB;
}

.webdev {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.webdev-link {
    text-decoration: none;
    color: #8f8f8f;
}

.webdev-link:hover {
    color: blueviolet;
}
