/* * {
  box-sizing: border-box;
} */

body {
  background-color: #c7f2f8;
  text-align: center;
  margin: 0;
}

.menu {
  /* right: 0; */
  box-sizing: border-box;
  position: sticky;
  top: 2rem;
  /* float: right; */
  /* padding: 5px; */
  /* margin: 0; */
}

.menu-link {
  position: relative;
  display: inline-block;
  border-top: #000 solid 3px;
  border-left: solid 5px transparent;
  text-decoration: none;
  color: dimgray;
  /* width: 80px; */
  margin: 2px;
  text-align: right;
}

.menu-link:active {
  color: #000;
  text-decoration: none;
}

.menu-link:hover {
  color: #000;
  text-decoration: none;
  border-left: 5px solid #000;
  /* width: 75px; */
  text-align: right;
}

.active-bold {
  font-weight: 700;
}

.menu-item {
  box-sizing: border-box;
  position: relative;
  float: right;
  list-style-type: none;
  margin-right: 5px;
}

.profile-item {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
/* 
.address-item {
  opacity: 1;
}

.address-item:hover {
  opacity: 0;
} */

.js-item {
  margin-bottom: 1rem;
  opacity: 0;
}

.js-item:hover {
  opacity: 1;
}

#about-me {
  margin: 10% 30%;
  margin-top: 0;
}

.about-my-border {
  border: #000 2px solid;
  position: relative;
  margin-top: 4%;
}

.profile-picture {
  width: 35%;
  margin: 0;
}

.name {
  font-size: 1.1rem;
}

/* SKILLS */

#skills {
  margin: 15% auto;
}

#skills > h2 {
  font-weight: normal;
  font-family: sans-serif;
  font-size: 1rem;
}

.progress-bar {
  height: 40px;
  border: 4px solid #a3a3a3;
}

#skills > div {
  height: 40px;
  margin: 2%;
}

.color-bar {
  text-align: right;
  line-height: 2.5;
  height: 40px;
}

.HTML {
  width: 40%;
  background-color: #f2590d;
  color: #f2590d;
}

.HTML:hover {
  background-color: #f20d33;
  color: #fff;
}

.CSS {
  width: 30%;
  background-color: #0da6f2;
  color: #0da6f2;
}

.CSS:hover {
  background-color: #0d34f2;
  color: #fff;
}

.Java {
  width: 3%;
  background-color: #f7d008;
  color: transparent;
}

.Java:hover {
  background-color: #fae05a;
  color: #000;
}

.progress-bar > p {
  display: inline-block;
  margin: 0;
  text-align: right;
  margin-bottom: 3%;
}

.picture-collage {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 33% 33% 33%;
}

.picture-collage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .picture-collage > img:last-child {
  width: 100%;
}

.picture-collage > img:nth-child(4) {
  width: 100%;
}

.picture-collage > img:nth-child(5) {
  width: 100%;
} */

/* contact section  */

#contact {
  width: 50%;
  position: absolute;
  left: 25%;
  padding: 3% 5% 14%;
  margin-top: 12%;
  margin-bottom: 7%;
  background-color: aliceblue;
  border-radius: 5px;
  border: #a3a3a3 solid 3px;
}

#contact input {
  margin: 0.3em 0;
}

#contact-message {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  min-height: 40px;
  resize: vertical;
  float: left;
}

.contact-form {
  text-align: left;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 50% 50%;
}

#contact .contact-submit {
  margin-top: 5%;
  text-align: center;
  position: relative;
}
