/* * {
  box-sizing: border-box;
} */

body {
  background-color: #c7f2f8;
  text-align: center;
  margin-top: 0;
}

.menu {
  right: 0;
  position: fixed;
  float: right;
  padding: 5px;
  margin: 0;
}

.menu-link {
  position: relative;
  display: inline-block;
  border-top: #000 solid 3px;
  text-decoration: none;
  color: dimgray;
  width: 80px;
  margin: 2px;
  text-align: right;
}

.menu-link:active {
  color: #000;
  text-decoration: none;
}
.menu-link:hover {
  color: #000;
  text-decoration: none;
  border-left: 5px solid #000;
  width: 75px;
  text-align: right;
}

.menu-item {
  box-sizing: border-box;
  position: relative;
  float: right;
  list-style-type: none;
  margin-right: 5px;
}

#about-me {
  margin: 10% 30%;
  margin-top: 0;
}

.about-my-border {
  border: #000 2px solid;
  position: relative;
  margin-top: 3%;
}

.profile-picture {
  width: 35%;
  margin: 0;
}

.name {
  font-size: 1.1rem;
}

/* SKILLS */

#skills {
  margin: 15% auto;
}

#skills > h2 {
  font-weight: normal;
  font-family: sans-serif;
  font-size: 1rem;
}

.progress-bar {
  height: 40px;
  border: 4px solid #a3a3a3;
}

#skills > div {
  height: 40px;
  margin: 2%;
}

.color-bar {
  text-align: right;
  line-height: 2.5;
  height: 40px;
}

.HTML {
  width: 40%;
  background-color: #f2590d;
  color: #f2590d;
}

.HTML:hover {
  background-color: #f20d33;
  color: #fff;
}

.CSS {
  width: 30%;
  background-color: #0da6f2;
  color: #0da6f2;
}

.CSS:hover {
  background-color: #0d34f2;
  color: #fff;
}

.Java {
  width: 3%;
  background-color: #f7d008;
  color: #f7d008;
}

.Java:hover {
  background-color: #fae05a;
  color: #000;
}

.progress-bar > p {
  display: inline-block;
  margin: 0;
  text-align: right;
  margin-bottom: 3%;
}
