main #header-section {
  display: flex;
  /* flex-flow: row wrap; */
  height: 70vh;
  align-items: center;
  background-color: #d6dce6;
}

@media screen and (max-width: 1200px) {
  main #header-section {
    height: 100%;
    flex-direction: column;
  }
}

main #header-section .header-article {
  padding-right: 50px;
  padding-left: 50px;
  width: 70%;
}

@media screen and (max-width: 1200px) {
  main #header-section .header-article {
    padding: 50px;
  }
}

main #header-section .header-article h2 {
  font-size: 3em;
  margin-bottom: 3rem;
}

main #header-section .header-article p {
  font-size: 1.2em;
  margin-bottom: 3rem;
}

main #header-section .background-uhr {
  background-image: url(../images/watch_header.jpg);
  flex-shrink: 0;
  height: 100%;
  width: 30%;
  background-size: cover;
  background-position: bottom;
}

@media screen and (max-width: 1200px) {
  main #header-section .background-uhr {
    width: 100%;
  }
}

main .service-section {
  padding: 50px;
  background-color: #00003f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
  justify-content: space-around;
  gap: 25px;
  margin-top: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

@media screen and (max-width: 700px) {
  main .service-section {
    flex-direction: column;
  }
}

main .service-section .service {
  display: flex;
  background-color: #1b1b53;
  flex: 1;
  padding: 40px;
  gap: 20px;
  border-radius: 10px;
  align-items: flex-start;
}

main .service-section .service .service-text p {
  margin-bottom: 0;
}

main .service-section .service:hover {
  background-color: #f0c631;
  color: #00003f;
}

main .service-section .service:hover .icon {
  filter: invert(86%) sepia(93%) saturate(321%) hue-rotate(236deg)
    brightness(86%) contrast(121%);
}

/* testimonials  */

main .testimonials {
  /* height: 95vh; */
  padding: 100px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

@media screen and (max-width: 1200px) {
  main .testimonials {
    flex-wrap: wrap;
  }
}

main .testimonials .testimonial-items {
  display: flex;
  flex: 1;
  gap: 30px 50px;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media screen and (max-width: 1200px) {
  main .testimonials .testimonial-items {
    flex-basis: 100%;
  }
}

main .testimonials .testimonial-items .testimonial-item-rating {
  padding: 25px;
  border-radius: 25px;
  align-items: flex-start;
  flex-basis: calc(50% - 25px);
}

@media screen and (max-width: 700px) {
  main .testimonials .testimonial-items .testimonial-item-rating {
    flex-wrap: wrap;
    flex-basis: 100%;
  }
}

main .testimonials .testimonial-items .testimonial-item-rating:nth-child(2n) {
  margin-top: 25px;
}

main .testimonials .testimonial-items .testimonial-item-rating .quality {
  font-weight: bold;
}

main .testimonials .testimonial-text {
  flex: 1;
}

main .testimonials .testimonial-text p {
  margin-bottom: 3rem;
}

main .testimonials .testimonial-items .testimonial-item-rating {
  box-shadow: -1px -1px 20px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px -1px 20px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px -1px 20px 5px rgba(0, 0, 0, 0.2);
}
