/* definitions */

:root {
  --color-primary-100: #f8bdb5;
  --color-primary-200: #f39284;
  --color-primary-500: #ef6d5b;
  --color-primary-800: #c45549;

  --color-secondary-200: #fff2d1;
  --color-secondary-500: #ffde8d;
  --color-secondary-800: #b39b63;

  --color-secondary-200-opaticy03: rgba(255, 242, 209, 0.3);

  --color-highlight-200: #a8c5f7;
  --color-highlight-500: #6195f1;

  --color-complementary-200: #adeef7;
  --color-complementary-500: #5bddef;
  --color-complementary-800: #409ba7;

  --background-color-200: #f7eed5;
  --background-color-500: #e8d08e;

  --color-white: #fffdf8;
  --color-black: #262522;

  --color-chopstick-inner: #eabda4;
  --color-chopstick-outer: #150c03;

  --space-xs: 5px;
  --space-sm: 20px;
  --space-md: 30px;
  --space-lg: 40px;
  --space-xl: 50px;
  --space-xxl: 180px;

  --space-section: 50px;

  --border-radius-small: 10px;
  --border-radius-medium: 25px;
  --border-radius-large: 60px;
  --border-radius-xlarge: 100px;

  --font-size-small: 12.64px;
  --font-size-default: 16px;
  --font-size-lg: 2rem;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.ttf), "Ubuntu-Bold";
  src: url(../fonts/Ubuntu-Bold.ttf), "Ubuntu-Light";
  src: url(../fonts/Ubuntu-Light.ttf), "Ubuntu-Medium";
  src: url(../fonts/Ubuntu-Medium.ttf);
}

/* elements */

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: var(--font-size-default);
  color: var(--color-black);
  background-color: var(--background-color-200);
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 1.802rem;
  margin: 0;
}

h2 {
  font-size: 1.602rem;
  margin: 0;
}

h3,
h4 {
  font-size: 1.424rem;
  margin: 0;
}

p {
  font-size: 0.889rem;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h2,
h3,
h4,
p {
  margin: 1em 0;
}

mark {
  background-color: unset;
  color: var(--color-complementary-500);
}

em {
  font-style: unset;
  color: var(--color-highlight-500);
}

/* hidden for mobile */

.mobile-hidden {
  display: none;
}

/* container for content */

.container {
  /* display: flex; */
  margin: 0 var(--space-sm);
  /* border: 3px solid blue; */
}

/* sections */

/* header section */

header .header-section {
  padding: var(--space-section) 0;
  background-color: var(--color-primary-500);
  height: 15em;
}

header .header-section .slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > header > section.header-section > div > div.slogan.mobile-hidden {
  display: none;
}

header .header-section .slogan h2,
header .header-section .slogan p {
  color: var(--color-secondary-500);
}

header .delivery-address {
  background-image: url("../img/asian-food-header\ 1.png");
  background-size: cover;
  background-position-x: -50px;
  background-repeat: no-repeat;
  border-bottom-left-radius: var(--space-lg);
  border-bottom-right-radius: var(--space-lg);
  height: 20em;
  display: flex;
  align-content: center;
  justify-content: center;
}

header .delivery-address .blur-effect {
  position: relative;
  height: 8em;
  width: 100%;
  border-radius: var(--border-radius-xlarge);
  background-color: var(--color-secondary-200-opaticy03);
  margin-bottom: -6em;
  filter: blur(20px);
}
header .delivery-address .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 100%;
}

header .delivery-address .searchbar {
  background-color: var(--background-color-200);
  position: relative;
  padding: var(--space-md);
  height: 4em;
  width: 100%;
  border-radius: var(--border-radius-xlarge);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-xl);
}

header .delivery-address .searchbar .search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-sm);
}

header .delivery-address .searchbar .search-wrapper .search .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
}

header > section.delivery-address > div > div.searchbar > div > label > div {
  background-color: var(--color-primary-200);
  border-radius: 50%;
}

header
  > section.delivery-address
  > div
  > div.searchbar
  > div
  > label
  > div
  > div {
  background-image: url("../img/svg/location-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: red; */
  width: 25px;
  height: 25px;
  filter: invert(82%) sepia(38%) saturate(518%) hue-rotate(338deg)
    brightness(106%) contrast(102%);
}

header .delivery-address .searchbar .search-wrapper .search-text {
  outline: transparent;
  border: transparent;
  border-radius: 3px;
  height: 2em;
  flex-basis: 85%;
  flex-shrink: 0;
}

/* main section goes here  */

main {
  justify-content: space-between;
  margin: 0;
}

main section:first-child {
  background-color: var(--color-primary-500);
}

main section:first-child .container {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

main section:first-child .fact-card {
  color: var(--color-white);
}

/* features  */

main #features {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  flex: 1;
  margin: var(--space-section) 0;
}

main section:nth-child(2) .feature-card {
  background-color: var(--color-primary-200);
  color: var(--color-secondary-200);
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  padding: var(--space-md);
  border-radius: var(--border-radius-medium);
}

main section:nth-child(2) .feature-card > h3 {
  margin: var(--space-sm) 0;
}

/* dishes */

main #dishes {
  padding-top: var(--space-section);
  background-color: var(--color-white);
}

#dishes > div > div.dishes-text {
  color: var(--color-primary-200);
}

#dishes > div > div.dishes-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  align-content: stretch;
  align-items: stretch;
  justify-content: center;
}

#dishes > div > div.dishes-item-wrapper > .dishes-items {
  display: flex;
  color: var(--color-primary-800);
  align-items: center;
  padding: 0.9em;
  background-color: var(--color-primary-100);
  border-radius: var(--border-radius-small);
  height: var(--font-size-small);
}

#dishes > div > div.dishes-item-wrapper > .dishes-more {
  margin-top: var(--space-sm);
  color: var(--color-highlight-500);
}

#dishes > div > div.dishes-item-wrapper > .dishes-more:hover {
  color: var(--color-highlight-200);
}
