:root {
  --color-primary-100: #ffd4d4;
  --color-primary-200: #ffb4b4;
  --color-primary-500: #ff9494;
  --color-primary-800: #bf6f6f;

  --color-secondary-500: #ffde8d;
  --color-secondary-800: #bfa76a;

  --color-highlight-200: #9fbaf2;
  --color-highlight-500: #6c95eb;

  --color-complementary-200: #d4ffe0;
  --color-complementary-500: #94ffb2;
  --color-complementary-800: #6fbf86;

  --background-color-200: #fff5e4;
  --background-color-500: #ffe2b1;

  --color-white: #fffdf8;
  --color-black: #262522;

  --space-xs: 5px;
  --space-sm: 10px;
  --space-md: 20px;
  --space-lg: 30px;
  --space-xl: 50px;
  --space-xxl: 80px;

  --font-size-small: 12.64px;
  --font-size-default: 16px;
  --font-size-lg: 2rem;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.ttf), "Ubuntu-Bold";
  src: url(../fonts/Ubuntu-Bold.ttf), "Ubuntu-Light";
  src: url(../fonts/Ubuntu-Light.ttf), "Ubuntu-Medium";
  src: url(../fonts/Ubuntu-Medium.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: var(--font-size-default);
  color: var(--color-black);
}

h1 {
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3,
h4 {
  font-size: 1.424rem;
}

p {
  font-size: 0.889rem;
}

a {
  color: inherit;
  text-decoration: none;
}
